:root{
    --primary-color:#00838f;
    --color-secondary: #005662;
    --color-primary-text: rgba(0, 0, 0, 0.87);
    --color-secondary-text: rgba(0, 0, 0, 0.6);

}

body{
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #f2f2f2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    height: auto;
    width: 100%;
}

main{
    margin: 10px;
}

footer{
    height: 40px;
    background-color: #212121;
    margin-top: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

hr{
    opacity: 0.2;
}

.container-centering{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    color: var(--color-primary-text);
}

#icon-profile{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 30px;
}

#container-icon{
    display: flex;
}

#nav-header{
    margin: 12px;
}

#nav-header-menu{
    display: flex;
    list-style: none;
}

#nav-header-menu li{
    color: white;
    margin-left: 16px;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
}

#nav-header-menu li:hover{
    opacity: 0.6;
}

#nav-header-menu a{
    text-decoration: none;
}

#nav-now{
    background: #00838f;
}

.fab{
    margin: 5px;
    font-size: 32px;
    color: var(--color-primary-text);
    text-decoration: none;
    opacity: 0.87;
}

.fab:hover{
     opacity: 0.6;
}

.fas{
    margin: 5px;
    font-size: 32px;
    color: var(--color-primary-text);
    text-decoration: none;
    opacity: 0.87;
}

.fas:hover{
     opacity: 0.6;
}

.nav-header-icon{
    color: white;
    margin-right: 4px;
    font-size: 18px;
}

@media (max-width: 600px){

    #nav-header-menu li{
        color: white;
        margin-left: 16px;
        font-size: 12px;
        padding: 8px;
        border-radius: 5px;
    }

    .nav-header-icon{
        font-size: 12px;
    }

}



/*

.card{
    min-height: 300px;
    min-width: 300px;
    margin: 30px;
    border: solid 1px #005662;
}

.card-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-title{
    margin: 5px;
    text-align: center;
}

.card-contents-image{
    margin: 10px;
}

.card-contents-image img{

    border: solid 1px #005662;
    max-width: 300px;
}

.card-contents-description{
    margin: 10px;
}
*/

